.blog-list.actions {
  padding-bottom: 50px;
}
.pagination {
	margin-top: 10px;
}
.pagination .disabled {
	background-color: #c4c4c4;
}
.contact-us h3 {
	margin-top: 0;
}
.contact-us .contact-form input {
    border-radius: 3px;
}
.contact-form input.value-holder {
	margin-bottom: 0;
}
.datetime-wrapper {
 	text-align: center;
}
.datetime-wrapper label {
	color: #333333;
    font-size: 16px;
    display: block;
	text-align: left;
}
.datetime-wrapper .uou-custom-select {
	width: 33.33%;
	display: inline-block;
}
a.green {
	color: green;
}

#header .header-top-bar .header-language {
    text-align: right !important;
}

.header-login, .header-language {
    width: 200px;
}
.header-logo {
	width: 740px;
}

@media (max-width: 1200px) {
	.header-logo {
		width: 540px;
	}
}

@media (max-width: 992px) {
	.header-logo {
		width: 320px;
	}
}

@media (max-width: 768px) {
	.header-login {
	    float: left;
	}
	.header-logo {
		position: absolute;
	    width: 100%;
	    left: 0;
	}
	.header-language {
	    float: right !important;
	}
}

.uou-custom-select input {
	margin-bottom: 0 !important;
}

footer .sponsor-container {
	display: flex;
    align-items: center;
}

footer .sponsor {
	text-align: center;
}

a.footer-logo-1 {
    position: relative;
}

a.footer-logo-2 {
    position: relative;
    text-align: center;
    width: 100%;
}

a.footer-logo-2 img {
	width: 100%;
	max-width: 210px;
}

a.footer-logo-3 {
    position: relative;
    text-align: center;
}

a.footer-logo-3 img {
	max-height: 130px;
}

a.footer-logo-4 {
    position: relative;
    text-align: center;
}

a.footer-logo-4 img {
	width: 100%;
	max-height: 70px;
	max-width: 210px;
}

@media (max-width: 712px) {
	.sponsor-container {
		flex-direction: column;
	}
}

.error-message {
	margin-top: -15px;
    margin-bottom: 15px;
    text-align: center;
    color: red;
}